<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/_mainLayout}">
<head>
    <title>Crear Usuario</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="mb-3">Crear Usuario</h1>

    <!-- Alertas -->
    <div th:if="${msg}" class="alert alert-success" th:text="${msg}"></div>
    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

    <form th:action="@{/usuario/save}" th:object="${usuario}" method="post">

        <label>Nombre Completo:</label>
        <input type="text" th:field="*{nombreCompleto}" class="form-control"/>

        <label>Username:</label>
        <input type="text" th:field="*{username}" class="form-control"/>

        <label>Password:</label>
        <input type="password" th:field="*{password}" class="form-control"/>

        <label>Teléfono:</label>
        <input type="text" th:field="*{telefono}" class="form-control"/>

        <label>Dirección:</label>
        <input type="text" th:field="*{direccion}" class="form-control"/>

        <label>Correo Electrónico:</label>
        <input type="email" th:field="*{correo_electronico}" class="form-control"/>

        <label>Rol:</label>
        <select th:field="*{rol}" class="form-control">
            <option th:each="rol : ${roles}" th:value="${rol}" th:text="${rol.nombreRol}"></option>
        </select>

        <label>Status:</label>
        <select th:field="*{status}" class="form-control">
            <option value="1">Activo</option>
            <option value="0">Inactivo</option>
        </select>

        <button type="submit" class="btn btn-primary">Guardar</button>
        <a th:href="@{/usuarios}" class="btn btn-secondary">Cancelar</a>

    </form>

</div>
</body>
</html>
