<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/_mainLayout}">
<head>
    <title>Crear Usuario</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="mb-3">Crear Usuario</h1>

    <!-- Alertas -->
    <div th:if="${msg}" class="alert alert-success" th:text="${msg}"></div>
    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

    <form th:action="@{/usuarios/save}" th:object="${usuario}" method="post">
        <div>
            <label>Nombre completo:</label>
            <input type="text" th:field="*{nombreCompleto}" class="form-control"/>
            <div th:if="${#fields.hasErrors('nombreCompleto')}" th:errors="*{nombreCompleto}"></div>
        </div>

        <div>
            <label>Usuario:</label>
            <input type="text" th:field="*{username}" class="form-control"/>
            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
        </div>

        <div>
            <label>Correo electrónico:</label>
            <input type="email" th:field="*{correoElectronico}" class="form-control"/>
            <div th:if="${#fields.hasErrors('correoElectronico')}" th:errors="*{correoElectronico}"></div>
        </div>

        <div>
            <label>Teléfono:</label>
            <input type="text" th:field="*{telefono}" class="form-control"/>
        </div>

        <div>
            <label>Dirección:</label>
            <input type="text" th:field="*{direccion}" class="form-control"/>
        </div>

        <div>
            <label>Password:</label>
            <input type="password" th:field="*{password}" class="form-control"/>
        </div>

        <div>
            <label>Rol:</label>
            <select th:field="*{rol}" class="form-control">
                <option th:each="rol : ${roles}"
                        th:value="${rol}"
                        th:text="${rol.nombreRol}">
                </option>
            </select>
        </div>

        <div>
            <label>Status:</label>
            <select th:field="*{status}" class="form-control">
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
            </select>
        </div>

        <button type="submit">Guardar</button>
    </form>
</div>
</body>
</html>
