<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/_mainLayout}">
<head>
    <meta charset="UTF-8">
    <title>Editar Categorias</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body class="bg-light text-dark">

<div layout:fragment="content" class="container mt-5 p-4 rounded shadow-sm bg-white">
    <h2 class="mb-4 text-center">Editar Categoria</h2>

    <form th:action="@{/categorias/update/{id}(id=${categoria.id})}" th:object="${categoria}" method="post" class="mb-4">

        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre: <span class="text-danger">*</span></label>
            <input type="text" class="form-control"
                   th:field="*{nombre}" id="nombre" placeholder="Escriba el nombre de la categoria" required>
            <div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
        </div>

        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción: </label>
            <input type="text" class="form-control"
                   th:field="*{descripcion}" id="descripcion" placeholder="Escriba la descripción de la categoria">
            <div class="text-danger" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>
        </div>

        <button type="submit" class="btn btn-dark rounded-pill px-4">
            Actualizar categoria
        </button>
        <a th:href="@{/categorias}" class="btn btn-secondary rounded-pill px-4 ms-2">Regresar</a>
    </form>
</div>

</body>
</html>